<p>exo-list works!</p>

<h3>Model</h3>
<li>Creation d'un modèle avec une interface : Animal</li>

<h3>Parent</h3>
<ul>
    <li>creation d'une liste vide dans le parent : Animal[]</li>
    <li>implementation d'une methode ajout dans le parent</li>
    <li>Au niveau du html : parcourir la liste avec la directive @ for(item of list;track $index)</li>
    <li>definir a l'interieur de la directive l'affichage de l'element</li>
</ul>

<h3>Enfant</h3>
<ul>
    <li>Declarer une instance du type Animal</li>
    <li>Declarer un @ Output() ( emetteur )</li>
    <li>implementer une methode pour declencher l'emission </li>
    <li>dans le html : implementer les input et les lié avec le binding two-way [(ngModel)] </li>
    <li>definir l'action du bouton avec l'event-binding : (click) </li>
</ul>