.container{
    padding: 0.5rem;
    margin: 1rem auto;
    background-color: rgb(120, 145, 234);
    width: 50%;
    border-radius: 8px;
}

.p-2{
    padding: 2rem;
}

.parent-container{
    background: rgba(59, 3, 3, 0.291);
    width: 80%;
    margin: 2rem auto;
    border-radius: 8px;
}